.button
    height: rem(54px)
    padding: rem(2px) rem(17px) 0
    text-transform: uppercase
    letter-spacing: rem(8px)
    font-size: rem(15px)
    line-height: rem(54px)
    background: $yellow
    border: none