.animated-text
    font-size: 33px
    line-height: 40px
    +min-screen($screen-sm)
        font-size: rem(70px)
        line-height: rem(91px)
    +min-screen($screen-md)
        font-size: rem(90px)
        line-height: rem(111px)
.colored-text
    position: relative
    &:before
        +b
        top: 60%
        left: rem(-5px)
        transform: translateY(-50%)
        width: 0
        height: 80%
        transition: width $default-transition-duration
        z-index: -1
    &._active
        &:before
            width: calc(100% + #{rem(10px)})
    &._yellow
        &:before
            background: $yellow
            transition-delay: $delay
    &._blue
        &:before
            background: $blue
            transition-delay: calc(#{$delay} + #{$default-transition-duration} + .1s)