.slider-nav
    display: flex !important
    
    button
        font-size: 14px
        border: none
        border-bottom: 1px solid #000
        font-family: $thin
        background: none
        color: transparent
        cursor: pointer
        @extend .transition
        &::first-letter
            letter-spacing: 0.35em
        +min-screen($screen-sm)
            font-size: rem(20px)
        &:hover
            color: $font_color
    li
        display: block
        @extend .transition
        &:not(:last-of-type)
            margin-right: 14px
            +min-screen($screen-sm)
                margin-right: rem(29px)
        &.slick-active
            transform: scale(1.2)
            button
                color: $font_color
        @for $i from 1 through 10
            
            &:nth-of-type(#{$i})
                button
                    &:before
                        content: '0'
    &__item        
        font-size: 14px
        border-bottom: 1px solid #000
        font-family: $thin
        color: transparent
        cursor: pointer
        @extend .transition
        &::first-letter
            letter-spacing: 0.35em
        +min-screen($screen-sm)
            font-size: rem(20px)
        &._active
            transform: scale(1.2)
            color: $font_color
        &:hover
            color: $font_color