.intro
    display: flex
    align-items: center
    min-height: 100vh
    &-animated-text
        margin-top: 16vh
        margin-bottom: 10vh
    &-scroll-square
        display: inline-block
        +size(rem(50px))
        margin-left: rem(14px)
        background: $grey
        animation: square 3s infinite
        @extend .transition
        transition-delay: $delayLong + 1
        opacity: 0
        animation: squareScroll 2s infinite ease-in
        &._active
            opacity: 1
    .colored-text
        &._yellow
            &:before
                transition-delay: $delayLong
        &._blue
            &:before
                transition-delay: calc(#{$delayLong} + #{$default-transition-duration} + .1s)

$h: 2px

@keyframes squareScroll 
    0%,100%
        transform: translateY(-$h)
    15%,95%
        transform: translateY(-$h - 0.5)
    30%
        transform: translateY(calc(#{$h} * 2))
    50%
        transform: translateY(0px)
    70%
        transform: translateY(calc(#{$h} * 2))